/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    font-family: "Roboto", sans-serif;
    width: 100%;
}
main {
    background-size: auto;
    height: 650px;
    margin: auto;
}
/*  header ... */
.page-title {
    font-size: 36px;
    font-family: Lobster, cursive;
    font-weight: 700;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
    background-image: -o-linear-gradient(green, yellow, red);
    background-image: -webkit-gradient(linear, left top, left bottom, from(green), color-stop(yellow), to(red));
    background-image: linear-gradient(green, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* body-container.. */
.container {
    border: 2px black outset;
    border-radius: 5px;
    background-color: #ffff66;
    color: black;
    width: 30%;
    height: 550px;
    -webkit-box-shadow: 2px 2px;
    box-shadow: 2px 2px;
    overflow-y: scroll;
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 10%;
    margin: auto;
    overflow-wrap: break-word;
}
.list-title {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 5px;
    text-align: center;
    color: #b32d00;
}
.list-group {
    padding: 5px;
}
.btn {
    width: 95%;
    border-radius: 5px;
    padding: 5%;
    font-weight: bold;
    text-transform: capitalize;
    font-variant: small-caps;
    -webkit-box-shadow: 2px 2px;
    box-shadow: 2px 2px;
    background: #99ff99;
    color: #000;
    border: 2px solid green;
    -webkit-box-shadow: 2px 2px green;
    box-shadow: 2px 2px green;
}
.btn:hover,
btn:focus {
    cursor: pointer;
    opacity: 0.8;
}
@media all and (max-width: 500px) {
    .btn {
        font-size: 12px;
    }
}
.list-group-item {
    list-style-type: none;
    margin-bottom: 5px;
    padding-right: 1%;
    padding-left: 5%;
}
/* modal container.... */
.modal-body {
    margin: auto;
}
#pokeName {
    margin-top: 5px;
    color: black;
    background-color: #99ff99;
    font-weight: bold;
    font-size: 24px;
    font-family: "Libre Caslon Text", serif;
    text-transform: capitalize;
    font-variant: small-caps;
    border: 2px solid green;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px green;
    box-shadow: 2px 2px green;
}
#pokeImg {
    float: left;
    margin: auto;
    width: 200px;
    height: 200px;
    padding: 5%;
}
#pokeHeight,
#pokeWeight,
#pokeTypes {
    float: right;
    font-family: "Libre Caslon Text", serif;
    color: #cc0000;
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 18px;
    font-weight: bold;
    padding: 5%;
}
.modal-close {
    float: bottom;
    -webkit-appearance: none;
    color: #000;
    margin-top: 15px;
    background-color: #99ff99;
    font-weight: bold;
    font-size: 12px;
    font-family: "Libre Caslon Text", serif;
    text-transform: capitalize;
    font-variant: small-caps;
    border: 2px solid green;
    border-radius: 1px;
    -webkit-box-shadow: 2px 2px green;
    box-shadow: 2px 2px green;
    padding: 1%;
}
/* footer..... */
.page-footer {
    font-family: "Libre Caslon Text", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: lightblue;
}
